body {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    color: hsl(180, 14%, 20%);
    background-color: hsl(180, 52%, 96%);
    margin: 0;
    padding: 0;
}

.top-img {
    background-color: hsl(180, 29%, 50%);
    background-image: url('./images/bg-header-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 156px;
    position: relative;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: hsl(180, 31%, 95%);
    border-radius: 10px;
    margin-top: -30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.filter-tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: white;
    color: hsl(180, 29%, 50%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tag button {
    background-color: hsl(180, 29%, 50%);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.tag span {
    color: hsl(180, 29%, 50%);
    background-color: white;
}

.tag button:hover {
    color: rgba(0, 0, 0, 0.1);
}

.clear {
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}

.job-listing {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
}

.job-listing.featured {
    border-left: 5px solid hsl(180, 29%, 50%);
}

.image-job img {
    width: 50px;
    height: 50px;
}

.job-content {
    width: 100%;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .job-title {
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    padding: 10px;
} */

.job-title h3 {
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    padding: 6px;
}

.company {
    font-weight: 700;
    color: hsl(180, 29%, 50%);
}

.company .new {
    background-color: hsl(180, 29%, 50%);
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
}

.company .featured {
    background-color: hsl(180, 12%, 5%);
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
}

.job-title h3 {
    font-weight: 1000;
    color: hsl(180, 12%, 5%);
    font: bold;
}

.job-title:hover h3 {
    color: hsl(180, 29%, 50%);
}

.job-info {
    color: hsl(180, 8%, 52%);
    margin: 10px 0;
}

.job-tags {
    display: flex;
    gap: 10px;
    float: right;
}

.job-tags span {
    background-color: hsl(180, 31%, 95%);
    color: hsl(180, 29%, 50%);
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}


/* Attribution */

.attribution {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.attribution a {
    color: hsl(180, 8%, 52%);
}


/* Media Queries for all devices */

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
    .top-section {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
    .top-img {
        height: 100px;
    }
    .top-section {
        padding: 5px;
    }
}